extends layout
block content
  form(action="monupload", method="post", enctype="multipart/form-data")
    input(type="file", name="uploadedFiles", accept="image/png" multiple) 
    input(type="submit", value="Send")
    if (error) 
      p #{error}
    if (message)
      p #{message}